<div class="breadcrumb-wrapper">
  <nav class="breadcrumb">
        <a  class="breadcrumb-link">Tracking</a>
    <span class="breadcrumb-separator">››</span>
    <a routerLink="/historicals" class="breadcrumb-link">Historical</a>
    <span class="breadcrumb-separator">››</span>
    <a class="breadcrumb-current">overview</a>
  </nav>
</div>


<div class="page-layout">

  <!-- LEFT : 75% -->
  <div class="left-section">

    <!-- FILTER NAVBAR -->
    <form [formGroup]="filterForm" class="filter-bar">

      <span class="label">Date :</span>

      <input type="date" formControlName="fromDate" />

      <span class="to-text">to</span>

      <input type="date" formControlName="toDate" />

      <span class="label">Zone :</span>

      <select formControlName="zone">
        <option value="">Select Zone</option>
        <option *ngFor="let zone of zoneList" [value]="zone.zoneName">
          {{ zone.zoneName }}
        </option>
      </select>

      <button type="button" class="apply-btn" (click)="applyFilter()">
        Apply
      </button>

    </form>
    <!-- TABLE CONTAINER -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Zone Name</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Time Spend(seconds)</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let overview of overviewData">
            <td>{{ overview.zoneName }}</td>
            <td>{{ overview.checkInTime }}</td>
            <td>{{ overview.checkOutTime }}</td>
            <td>{{ overview.timeSpentSeconds }}</td> 

          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>UniqueId</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Time Spend(seconds)</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let overview of tableData">
            <td>{{ overview.name }}</td>
            <td>{{ overview.timeIn }}</td>
            <td>{{ overview.timeOut }}</td>
            <td>{{ overview.timeSpend }}</td>

          </tr>
        </tbody>
      </table>
    </div> -->

  </div>

  <!-- RIGHT : 25% -->
  <div class="right-section">

    <!-- OVERVIEW NAVBAR -->
    <div class="overview-bar">
      Overview
    </div>

    <!-- SUMMARY CONTAINER -->
    <div class="summary-box">
      <p><strong>Total Entries :</strong> 03</p>
      <p><strong>Total Exists :</strong> 03</p>
      <p><strong>Total Time Spent :</strong> 255 Seconds</p>
      <p><strong>Avg Time Spent :</strong> 85 Seconds</p>
      <p><strong>Idle Time :</strong> NA</p>
      <p><strong>Active Time :</strong> NA</p>
      <p><strong>Work Hours Required :</strong> 10 hours</p>
      <p><strong>Work Hours Achieved :</strong> NA</p>
    </div>

  </div>

</div>